extends ../layout

block content
  .page-header
    h3 Product Query
    hr
  
  - let testVar = "Test";
  - testVar = testVar + "123" + "456";  
    h3 #{testVar.toUpperCase()}
    h3= testVar

  ul    
    - let list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"];
    - list.push("ABC");
      each item in list
        li= item

  form.form-horizontal(action='/product/productQuery', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)    
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='productId') 產品代碼
      .col-sm-7
        input.form-control(type='text', name='productId', id='productId', placeholder="產品代碼",
        value=conditions.productId)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') 產品名稱
      .col-sm-7
        input.form-control(type='text', name='productName', id='productName', placeholder="產品名稱", 
        value=conditions.productName)  
    .form-group.row.justify-content-md-center
      .col-sm-4
        a.btn.btn-primary(href='/product/productAdd') 新增產品
        span &nbsp
        button.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Query Product  

  if products
    table.ui.celled.table.center.aligned
      thead
          tr
          th 
          th Product Id
          th Product Name
      tbody
          each item in products
              tr
              td              
                //a(href='/product/ProductUpdate/' + item.productId, class='btn btn-default btn-xs') 明細                                  
                a.btn.btn-default.btn-xs(href='/product/ProductUpdate/' + item.productId) 明細
              td #{item.productId}
              td #{item.productName}
              td #{item.price}
      tfoot
        tr
          th(colspan='3')
    